<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Numer rejestracyjny</th>
        <th>Aktywny</th>
        <th width="10%"></th>
    </tr>
    </thead>
    <tbody>
    {% if cars|length == 0 %}
        <tr>
            <td colspan="4" class="text-center">Brak aut!</td>
        </tr>
    {% endif %}

    {% for car in cars %}
        <tr data-car-id="{{ car.id }}">
            <th scope="row">{{ car.id }}</th>
            <td>{{ car.plate }}</td>
            <td>
                {% if car.visible == 1 %}
                    <span class="kt-badge kt-badge--inline kt-badge--success">Tak</span>
                {% else %}
                    <span class="kt-badge kt-badge--inline kt-badge--danger">Nie</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-danger dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Akcje
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                        <button class="dropdown-item car-edit-button" type="button">Edytuj</button>

                        {% if car.visible == 1 %}
                            <button class="dropdown-item car-deactivate" type="button">Dezaktywuj</button>
                        {% else %}
                            <button class="dropdown-item car-activate" type="button">Aktywuj</button>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>