<form class="kt-form" id="cars-form" data-car-id="{{ car.id }}">
    <div class="form-group">
        <label for="plate">Numer rejestracyjny</label>
        <input type="text" class="form-control" id="plate" name="plate" placeholder="Numer rejestracyjny" value="{{ car.plate }}" required/>
    </div>
</form>