{% extends "base.html.twig" %}


{% block breadcrumbs %}
    <h3 class="kt-subheader__title">
        Trasy </h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                    class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('codes_list') }}" class="kt-subheader__breadcrumbs-link">
            Lista kodów
        </a>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Lista kodów
                        </h3>
                    </div>

                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                <a href="#" class="btn btn-brand btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i>
                                    Generuj kody
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--begin: Search Form -->
                    <form class="kt-form kt-form--fit kt-margin-b-20" id="kt_filters">
                        <div class="row kt-margin-b-20">
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Data produkcji:</label>
                                <div class="input-daterange input-group" id="kt_datepicker">
                                    <input type="text" class="form-control kt-input datepicker" name="start" placeholder="Od"
                                           data-col-index="3"
                                           data-filter-type="number-strict"
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                    </div>
                                    <input type="text" class="form-control kt-input datepicker" name="end" placeholder="Do"
                                           data-col-index="3"
                                           data-filter-type="number-strict"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Data trasy:</label>
                                <div class="input-daterange input-group" id="kt_datepicker">
                                    <input type="text" class="form-control kt-input datepicker" name="start" placeholder="Od"
                                           data-col-index="3"
                                           data-filter-type="number-strict"
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                    </div>
                                    <input type="text" class="form-control kt-input datepicker" name="end" placeholder="Do"
                                           data-col-index="3"
                                           data-filter-type="number-strict"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Produkt:</label>
                                <select class="form-control kt-input"
                                        id="product-search"
                                        data-col-index="9"
                                        data-filter-type="number-strict"
                                >
                                    <option value="">Wybierz</option>
                                </select>
                            </div>
                        </div>

                        <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                        <div class="row kt-margin-b-20">
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Stanowisko produkcji:</label>
                                <select class="form-control kt-input"
                                        data-col-index="7"
                                        data-filter-type="number-strict"
                                >
                                    <option value="">Wybierz</option>
                                    {% for position in positions %}
                                        <option value="{{ position.id }}">{{ position.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Stanowisko załadunku:</label>
                                <select class="form-control kt-input"
                                        data-col-index="8"
                                        data-filter-type="number-strict"
                                >
                                    <option value="">Wybierz</option>
                                    {% for position in positions %}
                                        <option value="{{ position.id }}">{{ position.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-brand--icon" id="kt_search">
						            <span>
						            	<i class="la la-search"></i>
						            	<span>Szukaj</span>
						            </span>
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						            <span>
						            	<i class="la la-close"></i>
						            	<span>Reset</span>
						            </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!--begin: Datatable -->
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                    <table class="table table-striped- table-bordered table-hover table-checkable"
                           id="code_list_table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kod</th>
                            <th>Typ</th>
                            <th>Produkt</th>
                            <th>Data produkcji</th>
                            <th>Data trasy</th>
                            <th>Data generowania</th>
                        </tr>
                        </thead>
                    </table>
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block styles %}
    <link href="/assets/vendors/custom/datatables/datatables.bundle.min.css" rel="stylesheet" type="text/css"/>
{% endblock styles %}

{% block scripts %}
    <script src="/assets/vendors/custom/datatables/datatables.bundle.min.js" type="text/javascript"></script>
    <script src="/scripts/code/list.js" type="text/javascript"></script>
{% endblock scripts %}