{% extends "base.html.twig" %}

{% block breadcrumbs %}
    <h3 class="kt-subheader__title">
        Ustawienia </h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                    class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('settings_devices') }}" class="kt-subheader__breadcrumbs-link">
            Urządzenia
        </a>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Lista urzadzen
                        </h3>
                    </div>

                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                <a href="javascript:;" class="btn btn-brand btn-elevate btn-icon-sm" id="show-insert-modal">
                                    <i class="la la-plus"></i>
                                    Dodaj urządzenie
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-section">
                        <div class="kt-section__content" id="devices-list-container">
                            {% include "Settings/Devices/list.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN MODAL -->
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Formularz urządzenia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="submit-modal-form">Zapisz</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->
{% endblock body %}

{% block scripts %}
    <script src="/scripts/settings/devices.js" type="text/javascript"></script>
{% endblock scripts %}