<form class="kt-form" id="generate-code-form" data-product-id="{{ productId }}">
    <div class="form-group">
        <label for="code_length">Ilość</label>
        <input type="number" class="form-control" id="code_length" name="code_length" placeholder="Ilość kodu" value="50" required/>
    </div>
</form>