<form class="kt-form" id="products-form" data-product-id="{{ product.id }}">
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa" value="{{ product.name }}" required/>
    </div>

    <div class="form-group">
        <label for="description">Opis</label>
        <textarea class="form-control" name="description" id="description" placeholder="Opis">{{ product.description }}</textarea>
    </div>

    <div class="form-group">
        <label for="position">Stanowisko</label>
        <select id="position" class="form-control" name="position_id">
            {% for position in positions %}
                <option value="{{ position.id }}" {% if position.id == product.position_id %}selected="selected"{% endif %}>{{ position.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="category">Kategoria</label>
        <select id="category" class="form-control" name="category_id">
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == product.category_id %}selected="selected"{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="type">Typ</label>
        <select id="type" class="form-control" name="type_id">
            {% for type in types %}
                <option value="{{ type.id }}" {% if type.id == product.type_id %}selected="selected"{% endif %}>{{ type.name }}</option>
            {% endfor %}
        </select>
    </div>
</form>