{% extends "base.html.twig" %}


{% block breadcrumbs %}
    <h3 class="kt-subheader__title">
        Trasy </h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                    class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('products_list') }}" class="kt-subheader__breadcrumbs-link">
            Lista produktów
        </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
            Karta produktu
        </a>
    </div>
{% endblock breadcrumbs %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Karta produktu
                    </h3>
                </div>

                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <a href="javascript:;" class="btn btn-hover-danger btn-elevate btn-icon-sm"
                               id="show-correction">
                                <i class="la la-ambulance"></i>
                                Korekta
                            </a>

                            <a href="javascript:;" class="btn btn-brand btn-elevate btn-icon-sm"
                               id="show-generate-codes">
                                <i class="la la-plus"></i>
                                Generuj kody
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body" id="kt_filters">
                <!--begin: Search Form -->
                <form class="kt-form kt-form--fit kt-margin-b-20">
                    <div class="row kt-margin-b-20">
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>Urządzenie:</label>
                            <select
                                    class="form-control kt-input"
                                    data-col-index="5"
                                    data-filter-type="number-strict"
                            >
                                <option value="">Wybierz</option>
                                {% for device in devices %}
                                    <option value="{{ device.id }}">{{ device.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>Stanowisko:</label>
                            <select
                                    class="form-control kt-input"
                                    data-col-index="6"
                                    data-filter-type="number-strict"
                            >
                                <option value="">Wybierz</option>
                                {% for position in positions %}
                                <option value="{{ position.id }}">{{ position.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary btn-brand--icon" id="kt_search">
						            <span>
						            	<i class="la la-search"></i>
						            	<span>Szukaj</span>
						            </span>
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						            <span>
						            	<i class="la la-close"></i>
						            	<span>Reset</span>
						            </span>
                            </button>
                        </div>
                    </div>
                </form>

                <!--begin: Datatable -->
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                <table class="table table-striped- table-bordered table-hover table-checkable"
                       id="product_state_log_table" data-product-id="{{ productId }}">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Typ</th>
                        <th>Nazwa urządzenia</th>
                        <th>Data</th>
                        <th>Szczegóły</th>
                    </tr>
                    </thead>
                </table>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
</div>

<!-- BEGIN MODAL -->
<div class="modal fade" id="generate-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generuj kody</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                {% include "Product/generate_code_modal_content.html.twig" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" id="submit-generate-codes">Generuj</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->

<!-- BEGIN MODAL -->
<div class="modal fade" id="correction-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj korekte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <input type="number" id="correction-value" placeholder="Wartość korekty" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit-positive-correction">+</button>
                <button type="button" class="btn btn-danger" id="submit-negative-correction">-</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
{% endblock body %}

{% block styles %}
    <link href="/assets/vendors/custom/datatables/datatables.bundle.min.css" rel="stylesheet" type="text/css"/>
{% endblock styles %}

{% block scripts %}
    <script src="/assets/vendors/custom/datatables/datatables.bundle.min.js" type="text/javascript"></script>
    <script src="/scripts/products/card.js?version=1.1" type="text/javascript"></script>
{% endblock scripts %}
