{% extends "base.html.twig" %}


{% block breadcrumbs %}
    <h3 class="kt-subheader__title">
        Trasy </h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                    class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('products_list') }}" class="kt-subheader__breadcrumbs-link">
            Lista produktów
        </a>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Lista produktów
                        </h3>
                    </div>

                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                <a href="#" class="btn btn-brand btn-elevate btn-icon-sm" id="add-new-product">
                                    <i class="la la-plus"></i>
                                    Dodaj produkt
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--begin: Search Form -->
                    <form class="kt-form kt-form--fit kt-margin-b-20" id="kt_filters">
                        <div class="row kt-margin-b-20">
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Nazwa:</label>
                                <input
                                        type="text"
                                        class="form-control kt-input"
                                        data-col-index="1"
                                        data-filter-type="text-search"
                                        placeholder="Nazwa"
                                />
                            </div>
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Typ:</label>
                                <select
                                        class="form-control kt-input"
                                        data-col-index="8"
                                        data-filter-type="number-strict"
                                >
                                    <option value="">Wybierz</option>
                                    {% for type in types %}
                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Kategoria:</label>
                                <select
                                        class="form-control kt-input"
                                        data-col-index="7"
                                        data-filter-type="number-strict"
                                >
                                    <option value="">Wybierz</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-brand--icon" id="kt_search">
						            <span>
						            	<i class="la la-search"></i>
						            	<span>Szukaj</span>
						            </span>
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						            <span>
						            	<i class="la la-close"></i>
						            	<span>Reset</span>
						            </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!--begin: Datatable -->
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                    <table class="table table-striped- table-bordered table-hover table-checkable"
                           id="product_list_table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nazwa</th>
                            <th>Stanowisko</th>
                            <th>Kategoria</th>
                            <th>Typ</th>
                            <th>Akcje</th>
                        </tr>
                        </thead>
                    </table>
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN MODAL -->
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Formularz produktu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="submit-modal-form">Zapisz</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->
{% endblock body %}

{% block styles %}
    <link href="/assets/vendors/custom/datatables/datatables.bundle.min.css" rel="stylesheet" type="text/css"/>
{% endblock styles %}

{% block scripts %}
    <script src="/assets/vendors/custom/datatables/datatables.bundle.min.js" type="text/javascript"></script>
    <script src="/scripts/products/list.js" type="text/javascript"></script>
{% endblock scripts %}