<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Tryb</th>
        <th>Aktywny</th>
        <th>Stanowisko</th>
        <th>Hash</th>
        <th>Ostatnia trasa</th>
        <th>Ostatnia synchronizacja</th>
        <th>Last IP</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if devices|length == 0 %}
        <tr>
            <td colspan="10" class="text-center">
                Brak urządzeń
            </td>
        </tr>
    {% endif %}

    {% for device in devices %}
    <tr data-device-id="{{ device.id }}">
        <th scope="row">{{ device.id }}</th>
        <td>{{ device.name }}</td>
        <td>
            {{ device.device_type_name }}
        </td>
        <td>
            {% if device.active == 1 %}
                <span class="kt-badge kt-badge--inline kt-badge--success">Tak</span>
            {% else %}
                <span class="kt-badge kt-badge--inline kt-badge--danger">Nie</span>
            {% endif %}
        </td>
        <td>{{ device.position_name }}</td>
        <td>{{ device.hash }}</td>
        <td>
            {{ device.travel_name ?? '-' }}
        </td>
        <td>
            {{ device.last_sync ?? '-' }}
        </td>
        <td>
            {{ device.last_ip ?? '-' }}
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-danger dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Akcje
                </button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                    <button class="dropdown-item device-edit-button" type="button">Edytuj</button>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>