<form class="kt-form" id="devices-form" data-device-id="{{ device.id }}">
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa" value="{{ device.name }}" required/>
    </div>

    <div class="form-group">
        <label for="type">Tryb</label>
        <select class="form-control" id="type" name="type">
            {% for deviceType in deviceTypes %}
                <option value="{{ deviceType.id }}" {% if device.type_id == deviceType.id %} selected="selected"{% endif %}>
                    {{ deviceType.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="active">Aktywny</label>
        <div class="col-3">
		    <span class="kt-switch kt-switch--icon">
		    	<label>
		    		<input type="checkbox" {% if device.active == 1 %}checked="checked"{% endif %} name="active" id="active">
		    		<span></span>
		    	</label>
		    </span>
        </div>
    </div>

    <div class="form-group">
        <label for="type">Stanowisko</label>
        <select class="form-control" id="type" name="position" required>
            {% for position in positions %}
                <option value="{{ position.id }}" {% if device.position_id == position.id %}selected="selected"{% endif %}>
                    {{ position.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="hash">Hash</label>
        <input type="text" class="form-control" id="hash" name="hash" placeholder="Hash" value="{{ device.hash }}" required/>
    </div>
</form>