body {
    margin: 0;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
}

.main-container {
    padding-top: 20px;
    background-color: #f7f7fb;
}

.menu {
    padding: 0 40px 0 40px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: #434349;
}

.subhead {
    padding: 0 15px;
}

td {
    padding: 3px;
}

.portlet {
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.portlet-head {
    padding: 0 25px;
    justify-content: space-between;
    border-bottom: 1px solid #ebedf2;
    line-height: 20px;
    min-height: 60px;
    display: flex;
    flex-basis: 100%;
}

.portlet-head .label {
    display: flex;
    align-items: center;
    height: 100%;
}

.form-group label {
    color: #646c9a;
    font-size:13px;
    font-weight: 300;
}

.separator {
    margin: 26px 0;
    border-bottom: 1px dashed #ebedf2;
    height: 0;
    box-sizing: border-box;
    display: block;
}

button.btn.btn-danger {
    background-color: #fd27eb;
    border-color: #fd27eb;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}

button.btn.btn-primary {
    background-color: #591df1;
    border-color: #591df1;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    outline: none !important;
}

button.btn-outline-danger {
    color: #212529;
    border: none;
    font-weight: 400;
    font-size: 13px;
}

button.btn-outline-danger:hover {
    color: #ffffff;
    background-color: #fd27eb;
    border-color: #fd27eb;
}

button.btn-outline-danger:active {
    color: #ffffff;
    background-color: #fd27eb;
    border-color: #fd27eb;
}

button.btn-outline-danger:focus {
    border: none !important;
    box-shadow: none;
}

button.btn.btn-secondary {
    font-size: 13px;
    font-weight: 400;
    outline: none !important;
    background-color: transparent;
    border: 1px solid #e2e5ec;
    color: #595d6e;
}

button.btn.btn-secondary:hover {
    color: #595d6e;
    border-color: #e2e5ec;
    background-color: #f4f5f8;
}

button.btn.btn-secondary:active {
    color: #595d6e !important;
    border-color: #e2e5ec !important;
    background-color: #f4f5f8 !important;
}

button.btn.btn-primary:hover {
    box-shadow: 0px 9px 16px 0px rgba(89, 29, 241, 0.25) !important;
    background-color: #470eda;
    border-color: #440dce;
}
button.btn.btn-primary:active {
    box-shadow: 0px 9px 16px 0px rgba(89, 29, 241, 0.25) !important;
    background-color: #470eda !important;
    border-color: #440dce !important;
}

.portlet-head .toolbar {
    display: flex;
    align-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 13px;
}

.portlet-body {
    flex-direction: column;
    display: flex;
    flex-basis: 100%;
    padding: 25px;
    border-radius: 4px;
}

.title .breadcrumb {
    display: inline-block;
    background-color: inherit;
    color: #959cb6;
    font-size: 13px;
    padding: 0 15px 0 15px;
    transition: all 0.3s;
}

a.nav-link {
    color: #6c7293;
    font-size: 13px;
    font-weight: 500;
    padding: 30px 15px 20px 15px;
    height: 80px;
    margin: 0 auto;
}

a.nav-link:hover {
    color: #5867dd;
}

a.dropdown-item {
    color: #5f6281;
    font-size: 13px;
    font-weight: 400;
    list-style-type: circle;
    list-style-position: inside;
    padding: 11px 30px;
}

a.dropdown-toggle::after {
    display: none;
}

div.dropdown-menu.show {
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    border: none;
}

a.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: inherit;
    color: #5867dd;
}

.table thead th {
    font-weight: 500;
}

div.react-datepicker-wrapper {
    width: 100%;
}
