<form class="kt-form" id="travels-form" data-travel-id="{{ travel.id }}">
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa" value="{{ travel.name }}"
               required/>
    </div>

    <div class="form-group">
        <label for="description">Opis</label>
        <textarea class="form-control" name="description" id="description"
                  placeholder="Opis">{{ travel.description }}</textarea>
    </div>

    <div class="form-group">
        <label for="description">Date</label>
        <input class="form-control datepicker" name="date" id="date" placeholder="Data"
               value="{{ travel.started_at|date('d-m-Y') }}"/>
    </div>

    <div class="form-group">
        <label for="car_id">Nr-rej</label>
        <select id="car_id" class="form-control" name="car_id">
            {% for car in cars %}
                <option value="{{ car.id }}" {% if car.id == travel.car_id %}selected="selected"{% endif %}>{{ car.plate }}</option>
            {% endfor %}
        </select>
    </div>
</form>