<table class="table table-striped- table-bordered table-checkable"
       id="product_list_table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        {% if allVisible %}
            <th>Zczytana ilość</th>
            <th>Korekty</th>
        {% endif %}
        <th>Pożądana ilość</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% if products|length == 0 %}
        <tr>
            <td colspan="6" class="text-center">Brak produktów...</td>
        </tr>
    {% endif %}

    {% for product in products %}
        <tr class="{% if allVisible %}{{ product.style }}{% endif %}">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            {% if allVisible %}
                <td>{{ product.scanned }}</td>
                <td>{{ product.correctionValue ?? '0' }}</td>
            {% endif %}
            <td>
                <input
                        type="number"
                        class="form-control planned-quantity"
                        data-product-id="{{ product.id }}"
                        data-travel-id="{{ travelId }}"
                        value="{{ product.planned ?? 0 }}"
                        placeholder="Pożądana ilość"
                />
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-danger dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Akcje
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                        <button class="dropdown-item travel-edit-button show-correction"
                                data-product-id="{{ product.id }}" type="button">
                            Korekta
                        </button>
                        <a class="dropdown-item"
                           href="{{ path('travel_card_product_codes_list', {'travelId': travelId, 'productId': product.id}) }}">
                            Kody
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<style type="text/css">
    .bg-green-turquoise {
        background-color: rgba(54, 215, 183, 0.4);
    }

    .bg-red-mint {
        background-color: rgba(228, 58, 69, 0.4);
    }

    .bg-yellow-lemon {
        background-color: rgba(247, 202, 24, 0.4);
    }

    .bg-grey-mint {
        background-color: rgba(82, 94, 100, 0.4);
    }

    .bg-blue-soft {
        background-color: rgba(76, 135, 185, 0.4);
    }
</style>
