{% extends "base.html.twig" %}


{% block breadcrumbs %}
    <h3 class="kt-subheader__title">
        Trasy </h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                    class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('travels_list') }}" class="kt-subheader__breadcrumbs-link">
            Lista tras
        </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
            Karta trasy
        </a>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row" id="travel-card" data-travel-id="{{ travelId }}">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Karta tras
                        </h3>
                    </div>

                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                <a href="javascript:;" class="btn btn-default btn-elevate btn-icon-sm"
                                   id="show-generate-codes">
                                    <i class="la la-plus"></i>
                                    Dodaj produkt
                                </a>
                                <a href="javascript:;" class="btn btn-brand btn-elevate btn-icon-sm"
                                   id="show-travel-code" data-travel-id="{{ travelId }}">
                                    <i class="la la-print"></i>
                                    Kod trasy
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-portlet__body" id="kt_filters">

                    <div class="row kt-align-right justify-content-end">
                        <label class="col-form-label" for="report">Zgłoś:</label>

                        <div class="col-1">
                            <span class="kt-switch kt-switch--icon">
		    	                <label>
		    		                <input type="checkbox" id="reported" {% if travel.reported == 1%}checked="checked"{% endif %}>
		    		                <span></span>
		    	                </label>
		                    </span>
                        </div>

                        <div class="col-3">
                            <input type="text" class="form-control" value="{{ travel.report_text }}" id="report-text" placeholder="Wpisz treść"/>
                        </div>
                    </div>

                    <div class="row kt-align-right justify-content-end">
                        <div class="col-3">
                            <a href="javascript:;" class="btn btn-brand btn-elevate btn-icon-sm"
                               id="save-report" data-travel-id="{{ travelId }}">
                                <i class="la la-save"></i>
                                Zapisz
                            </a>
                        </div>
                    </div>


                    <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                    {% include "Travel/travel_card_product_list.html.twig" %}
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN MODAL -->
    <div class="modal fade" id="generate-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dodaj produkt</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="kt-form" id="add-product-form" data-travel-id="{{ travelId }}">
                        <div class="form-group row">
                            <label for="product-search">Wyszukaj produkt</label>
                            <div class=" col-lg-12 col-md-12 col-sm-12">
                                <select
                                        class="form-control kt-select2"
                                        name="product_id"
                                        id="product-search"
                                ></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="submit-generate-codes">Dodaj</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->

    <!-- BEGIN MODAL -->
    <div class="modal fade" id="correction-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dodaj korekte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <input type="number" id="correction-value" placeholder="Wartość korekty" class="form-control"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit-positive-correction">+</button>
                    <button type="button" class="btn btn-danger" id="submit-negative-correction">-</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->
{% endblock body %}

{% block styles %}
    <link href="/assets/vendors/general/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/custom/datatables/datatables.bundle.min.css" rel="stylesheet" type="text/css"/>
{% endblock styles %}

{% block scripts %}
    <script src="/assets/vendors/general/select2/dist/js/select2.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/custom/datatables/datatables.bundle.min.js" type="text/javascript"></script>
    <script src="/scripts/travels/card.js?version=1.1" type="text/javascript"></script>
{% endblock scripts %}
