{% extends "base.html.twig" %}


{% block breadcrumbs %}
    <h3 class="kt-subheader__title">
        Trasy </h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                    class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('travels_list') }}" class="kt-subheader__breadcrumbs-link">
            Lista tras
        </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('travel_card', {'travelId': travelId}) }}" class="kt-subheader__breadcrumbs-link">
            Karta trasy
        </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
            Kody produktu trasy
        </a>

    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row" id="travel-card" data-travel-id="{{ travelId }}">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Kody produktów
                        </h3>
                    </div>
                </div>

                <div class="kt-portlet__body" id="kt_filters">
                    <!--begin: Search Form -->
                    <form class="kt-form kt-form--fit kt-margin-b-20" id="kt_filters">
                        <div class="row kt-margin-b-20">
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Data:</label>
                                <div class="input-daterange input-group" id="kt_datepicker">
                                    <input type="text" class="form-control kt-input datepicker" name="start" placeholder="Od"
                                           data-col-index="2"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                    </div>
                                    <input type="text" class="form-control kt-input datepicker" name="end" placeholder="Do"
                                           data-col-index="2"/>
                                </div>
                            </div>
                        </div>

                        <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-brand--icon" id="kt_search">
						            <span>
						            	<i class="la la-search"></i>
						            	<span>Szukaj</span>
						            </span>
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						            <span>
						            	<i class="la la-close"></i>
						            	<span>Reset</span>
						            </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!--begin: Datatable -->
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                    <table class="table table-striped- table-bordered table-hover table-checkable"
                           id="travel_product_list_table" data-product-id="{{ productId }}" data-travel-id="{{ travelId }}">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>EAN</th>
                            <th>Data skanowania</th>
                            <th>Akcje</th>
                        </tr>
                        </thead>
                    </table>
                    <!--end: Datatable -->
                </div>

            </div>
        </div>
    </div>
{% endblock body %}

{% block styles %}
    <link href="/assets/vendors/general/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/custom/datatables/datatables.bundle.min.css" rel="stylesheet" type="text/css"/>
{% endblock styles %}

{% block scripts %}
    <script src="/assets/vendors/general/select2/dist/js/select2.min.js" type="text/javascript"></script>
    <script src="/assets/vendors/custom/datatables/datatables.bundle.min.js" type="text/javascript"></script>
    <script src="/scripts/travels/product_codes.js" type="text/javascript"></script>
{% endblock scripts %}