<html lang="en">

<!-- begin::Head -->
<head>

    <!--begin::Base Path (base relative path for assets of this page) -->
    <base href="./">

    <!--end::Base Path -->
    <meta charset="utf-8"/>
    <title>Magazyn</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Fonts -->

    <!--begin::Page Vendors Styles(used by this page) -->
    {% block styles %}{% endblock %}
    <!--end::Page Vendors Styles -->

    <!--begin:: Global Mandatory Vendors -->
    <link href="/assets/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>

    <!--end:: Global Mandatory Vendors -->

    <!--begin:: Global Optional Vendors -->
    <link href="/assets/vendors/general/tether/dist/css/tether.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/select2/dist/css/select2.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/nouislider/distribute/nouislider.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/summernote/dist/summernote.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/vendors/general/animate.css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/toastr/build/toastr.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/morris.js/morris.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/socicon/css/socicon.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/custom/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/custom/vendors/flaticon/flaticon.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/custom/vendors/flaticon2/flaticon.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/custom/vendors/flaticon2/flaticon.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/vendors/general/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css"/>

    <!--end:: Global Optional Vendors -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="/assets/css/demo9/style.bundle.css" rel="stylesheet" type="text/css"/>

    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico"/>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--left kt-aside--fixed kt-page--loading">

<!-- begin::Page loader -->

<!-- end::Page Loader -->

<!-- begin:: Page -->

<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a href="demo9/index.html">
            <img alt="Logo" src="/assets/media/logos/logo-9-sm.png"/>
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left"
                id="kt_aside_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i
                    class="flaticon-more-1"></i></button>
    </div>
</div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <!-- begin:: Header -->
            <div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on">
                <div class="kt-container  kt-container--fluid ">
                    <!-- begin: Header Menu -->
                    {% include 'menu.html.twig' %}
                    <!-- end: Header Menu -->

                    <!-- begin:: Brand -->
                    <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                        <a class="kt-header__brand-logo" href="demo9/index.html">
                        </a>
                    </div>

                    <!-- end:: Brand -->

                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar kt-grid__item">

                        <!--begin: Search -->
{#                        <div class="kt-header__topbar-item kt-header__topbar-item--search dropdown"#}
{#                             id="kt_quick_search_toggle">#}
{#                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">#}
{#                                <span class="kt-header__topbar-icon"><i class="flaticon2-search-1"></i></span>#}
{#                            </div>#}
{#                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">#}
{#                                <div class="kt-quick-search kt-quick-search--inline" id="kt_quick_search_inline">#}
{#                                    <form method="get" class="kt-quick-search__form">#}
{#                                        <div class="input-group">#}
{#                                            <div class="input-group-prepend"><span class="input-group-text"><i#}
{#                                                            class="flaticon2-search-1"></i></span></div>#}
{#                                            <input type="text" class="form-control kt-quick-search__input"#}
{#                                                   placeholder="Search...">#}
{#                                            <div class="input-group-append"><span class="input-group-text"><i#}
{#                                                            class="la la-close kt-quick-search__close"></i></span></div>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                    <div class="kt-quick-search__wrapper kt-scroll" data-scroll="true" data-height="300"#}
{#                                         data-mobile-height="200" style="height: 200px; overflow: auto;">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                        <!--end: Search -->


                        <!--begin: User bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                <span class="kt-header__topbar-welcome kt-visible-desktop">Hi,</span>
                                <span class="kt-header__topbar-username kt-visible-desktop">{{ app.user.username|capitalize }}</span>
                                <span class="kt-userpic kt-userpic--info kt-margin-r-5 kt-margin-t-5">
                                    <span>{{ app.user.username|slice(0,2)|capitalize }}</span>
                                </span>

                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                                <!--begin: Head -->
                                <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                                    <div class="kt-user-card__avatar">
                                    <span class="kt-userpic kt-userpic--info kt-margin-r-5 kt-margin-t-5">
                                        <span>{{ app.user.username|slice(0,2)|capitalize }}</span>
                                    </span>
                                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                        <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                                    </div>
                                    <div class="kt-user-card__name">
                                        {{ app.user.username|capitalize }}
                                    </div>
                                    <div class="kt-user-card__badge">
                                        <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">0 powiadomień</span>
                                    </div>
                                </div>

                                <!--end: Head -->

                                <!--begin: Navigation -->
                                <div class="kt-notification">
{#                                    <a href="#" class="kt-notification__item">#}
{#                                        <div class="kt-notification__item-icon">#}
{#                                            <i class="flaticon2-calendar-3 kt-font-success"></i>#}
{#                                        </div>#}
{#                                        <div class="kt-notification__item-details">#}
{#                                            <div class="kt-notification__item-title kt-font-bold">#}
{#                                                My Profile#}
{#                                            </div>#}
{#                                            <div class="kt-notification__item-time">#}
{#                                                Account settings and more#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <a href="#" class="kt-notification__item">#}
{#                                        <div class="kt-notification__item-icon">#}
{#                                            <i class="flaticon2-mail kt-font-warning"></i>#}
{#                                        </div>#}
{#                                        <div class="kt-notification__item-details">#}
{#                                            <div class="kt-notification__item-title kt-font-bold">#}
{#                                                My Messages#}
{#                                            </div>#}
{#                                            <div class="kt-notification__item-time">#}
{#                                                Inbox and tasks#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <a href="#" class="kt-notification__item">#}
{#                                        <div class="kt-notification__item-icon">#}
{#                                            <i class="flaticon2-rocket-1 kt-font-danger"></i>#}
{#                                        </div>#}
{#                                        <div class="kt-notification__item-details">#}
{#                                            <div class="kt-notification__item-title kt-font-bold">#}
{#                                                My Activities#}
{#                                            </div>#}
{#                                            <div class="kt-notification__item-time">#}
{#                                                Logs and notifications#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <a href="#" class="kt-notification__item">#}
{#                                        <div class="kt-notification__item-icon">#}
{#                                            <i class="flaticon2-hourglass kt-font-brand"></i>#}
{#                                        </div>#}
{#                                        <div class="kt-notification__item-details">#}
{#                                            <div class="kt-notification__item-title kt-font-bold">#}
{#                                                My Tasks#}
{#                                            </div>#}
{#                                            <div class="kt-notification__item-time">#}
{#                                                latest tasks and projects#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                    <a href="#" class="kt-notification__item">#}
{#                                        <div class="kt-notification__item-icon">#}
{#                                            <i class="flaticon2-cardiogram kt-font-warning"></i>#}
{#                                        </div>#}
{#                                        <div class="kt-notification__item-details">#}
{#                                            <div class="kt-notification__item-title kt-font-bold">#}
{#                                                Billing#}
{#                                            </div>#}
{#                                            <div class="kt-notification__item-time">#}
{#                                                billing &amp; statements <span#}
{#                                                        class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">2 pending</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
                                    <div class="kt-notification__custom kt-space-between">
                                        <a href="/logout"
                                           class="btn btn-label btn-label-brand btn-sm btn-bold">
                                            Wyloguj
                                        </a>
                                    </div>
                                </div>

                                <!--end: Navigation -->
                            </div>
                        </div>

                        <!--end: User bar -->

                        <!--end: Quick panel toggler -->
                    </div>

                    <!-- end:: Header Topbar -->
                </div>
            </div>

            <!-- end:: Header -->

            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside kt-aside--fixed kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop"
                 id="kt_aside" style="opacity: 0;">
            </div>

            <!-- end:: Aside -->
            <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    <!-- begin:: Subheader -->
                    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                        <div class="kt-container ">
                            <div class="kt-subheader__main">
                                {% block breadcrumbs %}
                                    <h3 class="kt-subheader__title">
                                        Dashboard </h3>
                                    <span class="kt-subheader__separator kt-hidden"></span>
                                    <div class="kt-subheader__breadcrumbs">
                                        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                                                    class="flaticon2-shelter"></i></a>
                                        <span class="kt-subheader__breadcrumbs-separator"></span>
                                        <a href="" class="kt-subheader__breadcrumbs-link">
                                            Dashboard </a>
                                    </div>
                                {% endblock breadcrumbs %}
                            </div>
                        </div>
                    </div>

                    <!-- end:: Subheader -->

                    <!-- begin:: Content -->
                    <div class="kt-container  kt-grid__item kt-grid__item--fluid">

                        <!--Begin::Dashboard 1-->

                        {% block body %}{% endblock body %}

                        <!--End::Dashboard 1-->
                    </div>

                    <!-- end:: Content -->
                </div>
            </div>

            <!-- begin:: Footer -->
            <div class="kt-footer kt-grid__item" id="kt_footer">
                <div class="kt-container ">
                    <div class="kt-footer__wrapper">
                        <div class="kt-footer__copyright">
                            2019&nbsp;©&nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <!-- end:: Footer -->
        </div>
    </div>
</div>

<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#591df1",
                "light": "#ffffff",
                "dark": "#282a3c",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>

<!-- end::Global Config -->

<!--begin:: Global Mandatory Vendors -->
<script src="/assets/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/assets/vendors/general/popper.js/dist/umd/popper.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/js-cookie/src/js.cookie.js" type="text/javascript"></script>
<script src="/assets/vendors/general/moment/min/moment.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
<script src="/assets/vendors/general/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/wnumb/wNumb.js" type="text/javascript"></script>

<!--end:: Global Mandatory Vendors -->

<!--begin:: Global Optional Vendors -->
<script src="/assets/vendors/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/block-ui/jquery.blockUI.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"
        type="text/javascript"></script>
<script src="/assets/vendors/custom/js/vendors/bootstrap-datepicker.init.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js"
        type="text/javascript"></script>
<script src="/assets/vendors/custom/js/vendors/bootstrap-timepicker.init.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"
        type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
<script src="/assets/vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js"
        type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
<script src="/assets/vendors/custom/js/vendors/bootstrap-switch.init.js" type="text/javascript"></script>
<script src="/assets/vendors/general/select2/dist/js/select2.full.js" type="text/javascript"></script>
<script src="/assets/vendors/general/ion-rangeslider/js/ion.rangeSlider.js" type="text/javascript"></script>
<script src="/assets/vendors/general/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
<script src="/assets/vendors/general/handlebars/dist/handlebars.js" type="text/javascript"></script>
<script src="/assets/vendors/general/inputmask/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
<script src="/assets/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js"
        type="text/javascript"></script>
<script src="/assets/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js"
        type="text/javascript"></script>
<script src="/assets/vendors/general/nouislider/distribute/nouislider.js" type="text/javascript"></script>
<script src="/assets/vendors/general/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
<script src="/assets/vendors/general/autosize/dist/autosize.js" type="text/javascript"></script>
<script src="/assets/vendors/general/clipboard/dist/clipboard.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/dropzone/dist/dropzone.js" type="text/javascript"></script>
<script src="/assets/vendors/general/summernote/dist/summernote.js" type="text/javascript"></script>
<script src="/assets/vendors/general/markdown/lib/markdown.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
<script src="/assets/vendors/custom/js/vendors/bootstrap-markdown.init.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
<script src="/assets/vendors/custom/js/vendors/bootstrap-notify.init.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>
<script src="/assets/vendors/custom/js/vendors/jquery-validation.init.js" type="text/javascript"></script>
<script src="/assets/vendors/general/toastr/build/toastr.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/raphael/raphael.js" type="text/javascript"></script>
<script src="/assets/vendors/general/morris.js/morris.js" type="text/javascript"></script>
<script src="/assets/vendors/general/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
<script src="/assets/vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js"
        type="text/javascript"></script>
<script src="/assets/vendors/custom/vendors/jquery-idletimer/idle-timer.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script>
<script src="/assets/vendors/general/counterup/jquery.counterup.js" type="text/javascript"></script>
<script src="/assets/vendors/general/es6-promise-polyfill/promise.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
<script src="/assets/vendors/custom/js/vendors/sweetalert2.init.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery.repeater/src/lib.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery.repeater/src/jquery.input.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery.repeater/src/repeater.js" type="text/javascript"></script>
<script src="/assets/vendors/general/dompurify/dist/purify.js" type="text/javascript"></script>

<!--end:: Global Optional Vendors -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="/assets/js/demo9/scripts.bundle.js" type="text/javascript"></script>
<script type="text/javascript">
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
</script>
<!--end::Global Theme Bundle -->

<!--begin::Page Scripts(used by this page) -->
{% block scripts %}{% endblock scripts %}
<!--end::Page Scripts -->

</body>

</html>
