<!-- begin: Header Menu -->

<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">

    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
        <ul class="kt-menu__nav ">

            <!-- START: DASHBOARD -->

            <li class="kt-menu__item">
                <a href="{{ path("dashboard") }}" class="kt-menu__link">
                    <span class="kt-menu__link-text">Dashboard</span>
                </a>
            </li>

            <!-- END: DASHBOARD -->

            <!-- START: PRODUCTS -->

            <li class="kt-menu__item">
                <a href="{{ path("products_list") }}" class="kt-menu__link">
                    <span class="kt-menu__link-text">Produkty</span>
                    <i class="kt-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>

            <!-- END: PRODUCTS -->

            <!-- START: CODE -->

            <li class="kt-menu__item">
                <a href="{{ path("codes_list") }}" class="kt-menu__link">
                    <span class="kt-menu__link-text">Kody</span>
                    <i class="kt-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>

            <!-- END: CODE -->

            <!-- START: TRAVEL -->

            <li class="kt-menu__item">
                <a href="{{ path("travels_list") }}" class="kt-menu__link">
                    <span class="kt-menu__link-text">Trasy</span>
                    <i class="kt-menu__ver-arrow la la-angle-right"></i>
                </a>
            </li>

            <!-- END: TRAVEL -->

            <!-- START: REPORTS -->

            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click"
                aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                    <span class="kt-menu__link-text">Raporty</span>
                    <i class="kt-menu__ver-arrow la la-angle-right"></i>
                </a>

                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="{{ path("report_daily_form") }}" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="kt-menu__link-text">Dzienny</span>
                            </a>
                        </li>

                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="{{ path("report_summary_daily_form") }}" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="kt-menu__link-text">Dzienny zbiorczy</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- END: REPORTS -->

            <!-- START: SETTINGS -->

            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click"
                aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                    <span class="kt-menu__link-text">Ustawienia</span>
                    <i class="kt-menu__ver-arrow la la-angle-right"></i>
                </a>

                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="{{ path("settings_devices") }}" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="kt-menu__link-text">Urządzenia</span>
                            </a>
                        </li>

                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="{{ path("settings_positions") }}" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="kt-menu__link-text">Stanowiska</span>
                            </a>
                        </li>

                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="{{ path("settings_cars") }}" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="kt-menu__link-text">Auta</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- END: SETTINGS -->

        </ul>
    </div>
</div>
