{% for code in codes %}
    <div style="width:100%; page-break-after: always;height: 100%;">
        <div style="width:100%;font-size: 10pt;text-align: center;height:20%">{{ code['name'] }}</div>
        <img src="/print/render/{{ code['code'] }}" style="height:80%;"/>
    </div>
{% endfor %}
