<!--Begin::Portlet-->
<div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Aktywne urządzenia
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        {% for device in active_devices %}
            <div class="row">
                <div class="col-lg-12">
                    {{ device }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!--End::Portlet-->