{% for device in devices %}
    <tr>
        <th scope="row">
            {% if device.hash in active_devices %}
                <div style="height: 15px;width: 15px;background-color: green;border-radius: 50%;display: inline-block;"></div>
            {% else %}
                <div style="height: 15px;width: 15px;background-color: red;border-radius: 50%;display: inline-block;"></div>
            {% endif %}
            {{ device.name }}
        </th>
        <td>{{ device.device_type_name }}</td>
        <td>{{ travel_name ?? "-" }}</td>
        <td>{{ device.last_sync }}</td>
    </tr>
{% endfor %}
