{% extends "base.html.twig" %}

{% block body %}
    <!--Begin::Row-->
    <div class="row">
        <div class="col-lg-8 order-lg-1">

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Urządzenia
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-section">
                        <div class="kt-section__content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nazwa urządzenia</th>
                                    <th>Tryb</th>
                                    <th>Ostatnia trasa</th>
                                    <th>Ostatnia synchronizacja</th>
                                </tr>
                                </thead>
                                <tbody id="devices-table-body">
                                    {% include "Hello/devices.html.twig" %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Activity-->
        </div>
        <div class="col-lg-4 order-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div id="active-devices">
                        {% include "Hello/active_devices.html.twig" %}
                    </div>
                </div>
                <div class="col-lg-12">
                    <!--Begin::Portlet-->
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Ostatnio zaczytane kody
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            <!--Begin::Timeline 3 -->
                            <div class="kt-timeline-v2">
                                <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">

                                    {% for code in codes %}
                                        <div class="kt-timeline-v2__item">
                                            <span class="kt-timeline-v2__item-time" style="font-size: 1rem;">{{ code.date|date('H:i:s') }}</span>
                                            <div class="kt-timeline-v2__item-cricle">
                                                <i class="fa fa-genderless kt-font-brand"></i>
                                            </div>
                                            <div class="kt-timeline-v2__item-text  kt-padding-top-5">
                                                <b>{{ code.product_name }}</b> - <small>{{ code.device_name }}</small>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!--End::Timeline 3 -->
                        </div>
                    </div>
                    <!--End::Portlet-->
                </div>
            </div>
        </div>
    </div>

    <!--End::Row-->
{% endblock body %}


{% block scripts %}
{#    <script src="/scripts/dashboard/active_devices.js" type="text/javascript"></script>#}
{% endblock scripts %}
