<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th width="10%">Aktywne</th>
        <th width="10%"></th>
    </tr>
    </thead>
    <tbody>
    {% if positions|length  == 0 %}
        <tr>
            <td colspan="5" class="text-center">Brak stanowisk</td>
        </tr>
    {% endif %}

    {% for position in positions %}
        <tr data-position-id="{{ position.id }}">
            <th scope="row">{{ position.id }}</th>
            <td>{{ position.name }}</td>
            <td>{{ position.description ?? "-"}}</td>
            <td>
                {% if position.visible == 1 %}
                    <span class="kt-badge kt-badge--inline kt-badge--success">Tak</span>
                {% else %}
                    <span class="kt-badge kt-badge--inline kt-badge--danger">Nie</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-danger dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Akcje
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="top-end">
                        <button class="dropdown-item position-edit-button" type="button">Edytuj</button>
                        {% if position.visible == 1 %}
                            <button class="dropdown-item position-deactivate" type="button">Dezaktywuj</button>
                        {% else %}
                            <button class="dropdown-item position-activate" type="button">Aktywuj</button>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
