<form class="kt-form" id="positions-form" data-position-id="{{ position.id }}">
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa" value="{{ position.name }}" required/>
    </div>

    <div class="form-group">
        <label for="description">Opis</label>
        <textarea class="form-control" name="description" id="description" placeholder="Opis">{{ position.description }}</textarea>
    </div>

</form>