<table class="table table-striped- table-bordered table-hover table-checkable no-footer">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Ilość</th>
        <th>Ilość porządana</th>
    </tr>
    </thead>
    <tbody>
    {% for row in list %}
        <tr>
            <td>{{ row.product_id }}</td>
            <td>{{ row.name }}
                <a href="javascript:;" class="show-full" data-product-id="{{ row.product_id }}">
                    <i class="la la-search-plus"></i>
                </a>
            </td>
            <td>{{ row.scanned }}</td>
            <td>{{ row.planned ?? 0 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>