{% extends "base.html.twig" %}



{% block breadcrumbs %}
    <h3 class="kt-subheader__title">
        Raporty </h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                    class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('report_car') }}" class="kt-subheader__breadcrumbs-link">
            Raport aut
        </a>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Raport trasy
                        </h3>
                    </div>
                </div>

                <div class="kt-portlet__body" id="kt_filters">
                    <!--begin: Search Form -->
                    <form class="kt-form kt-form--fit kt-margin-b-20" id="report_filters">
                        <div class="row kt-margin-b-20">
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Przedział czasowy:</label>
                                <div class="input-daterange input-group" id="kt_datepicker">
                                    <input type="text" class="form-control kt-input datepicker" name="from"
                                           placeholder="Od"
                                           data-col-index="5" required="required"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                    </div>
                                    <input type="text" class="form-control kt-input datepicker" name="to"
                                           placeholder="Do"
                                           data-col-index="5" required="required"/>
                                </div>
                            </div>
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label for="car_id">Nr-rej:</label>
                                <select class="form-control kt-input" id="car_id" name="car_id" required="required">
                                    <option value="">Wybierz</option>
                                    {% for car in cars %}
                                        <option value="{{ car.id }}">{{ car.plate }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label for="car_id">Rodzaj raportu:</label>
                                <select class="form-control kt-input" id="car_id" required="required">
                                    <option value="">Wybierz</option>
                                    <option value="1" selected="selected">Elementowy</option>
                                </select>
                            </div>
                        </div>

                        <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-brand--icon" id="kt_generate">
						            <span>
						            	<i class="la la-gear"></i>
						            	<span>Generuj</span>
						            </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!--begin: Datatable -->
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                    <div class="kt-portlet__body">
                        <div class="col-lg-12" id="report">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block styles %}
{% endblock styles %}

{% block scripts %}
    <script src="//www.amcharts.com/lib/4/core.js"></script>
    <script src="//www.amcharts.com/lib/4/charts.js"></script>
    <script src="//www.amcharts.com/lib/4/maps.js"></script>
    <script src="/scripts/reports/cars.js" type="text/javascript"></script>
{% endblock scripts %}