<table class="table table-bordered">
    <thead>
    <tr>
        <th colspan="2">Wyprodukowano</th>
        <th colspan="2">Wydajność</th>
        <th colspan="2">Załadowano</th>
        <th colspan="2">Bilans</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ daily.made.quantity }}</td>
        <td>{{ daily.made.quantityWithCorrection }}</td>
        <td>{{ daily.performance.percentage|round }}%</td>
        <td>{{ daily.performance.percentageWithCorrection|round }}%</td>
        <td>{{ daily.charged.quantity }}</td>
        <td>{{ daily.charged.quantityWithCorrection }}</td>
        <td>{{ daily.balance.quantity }}</td>
        <td>{{ daily.balance.quantityWithCorrection }}</td>
    </tr>
    <tr>
        <td colspan="10">
            <div id="daily-chart" style="height: 250px;"></div>
        </td>
    </tr>
    </tbody>
</table>
{% for day in daily.days %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Dzień</th>
            <th>Norma</th>
            <th colspan="2">Wyprodukowano</th>
            <th colspan="2">Wydajność</th>
            <th colspan="2">Załadowano</th>
            <th colspan="2">Bilans</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ day.date.format('Y-m-d') }}</td>
            <td>{{ daily.standard }}</td>
            <td>{{ day.made.quantity }}</td>
            <td>{{ day.made.quantityWithCorrection }}</td>
            <td>{{ day.performance.percentage|round }}%</td>
            <td>{{ day.performance.percentageWithCorrection|round }}%</td>
            <td>{{ day.charged.quantity }}</td>
            <td>{{ day.charged.quantityWithCorrection }}</td>
            <td>{{ day.balance.quantity }}</td>
            <td>{{ day.balance.quantityWithCorrection }}</td>
        </tr>
        {% for change in day.changes %}
            {% if not change.isEmpty %}
                <tr>
                    <td colspan="10">
                        <div id="{{ day.date.format('Y-m-d') }}-{{ loop.index }}-chart"
                             style="height: 250px;"></div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
<script>
    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'daily-chart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: {{ dailyChartBuilder.build(daily)|raw }},
        // The name of the data record attribute that contains x-values.
        xkey: 'date',
        // xLabels: '1day',
        xLabels: 'day',
        barColors: ['#0a61a4', '#ff5f22'],
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value', 'valueWithCorrection'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Ilość', 'Z korektą']
    });

    {% for day in daily.days %}
    {% for change in day.changes %}
    {% if not change.isEmpty %}
    new Morris.Bar({
        // ID of the element in which to draw the chart.
        element: '{{ day.date.format("Y-m-d") }}-{{ loop.index }}-chart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: {{ dayChartBuilder.build(day, loop.index0)|raw }},
        // The name of the data record attribute that contains x-values.
        xkey: 'hour',
        xLabels: '15min',
        barColors: ['#0a61a4', '#ff5f22'],
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value', 'valueWithCorrection'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Ilość', 'Z korektą']
    });
    {% endif %}
    {% endfor %}
    {% endfor %}
</script>
