<div style="display: none" id="report-data">{{ data|json_encode }}</div>

<table class="table table-striped- table-bordered table-hover table-checkable no-footer">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Ilość wyprodukowanych</th>
        <th>Załadunków</th>
        <th>Różnica bilansowa</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>
                {{ row.name }}
            </td>
            <td>
                {{ row.production_quantity }}
            </td>
            <td>
                {{ row.travel_quantity }}
            </td>
            <td>
                {{ row.production_quantity - row.travel_quantity  }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>