<div style="display: none" id="report-data">{{ data|json_encode }}</div>

<table class="table table-striped- table-bordered table-hover table-checkable no-footer">
    <thead>
    <tr>
        <th>Procenty</th>
        <th>Ilość wyprodukowane</th>
        <th>Bez korekty</th>
        <th>Różnica bilansowa</th>
        <th>Zakres dat</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>
                {{ row.percent }}%
            </td>
            <td>
                {{ row.production }}
            </td>
            <td>
                {{ row.production_without_correction }}
            </td>
            <td>
                {{ row.diff }}
            </td>
            <td>
                {{ row.date_start }} - {{ row.date_end }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>