{% extends "base.html.twig" %}

{% block breadcrumbs %}
    <h3 class="kt-subheader__title">
        Raporty </h3>
    <span class="kt-subheader__separator kt-hidden"></span>
    <div class="kt-subheader__breadcrumbs">
        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                    class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="{{ path('report_summary_daily_form') }}" class="kt-subheader__breadcrumbs-link">
            Raport zbiorczy dzienny
        </a>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Raport zbiorczy dzienny
                        </h3>
                    </div>
                </div>

                <div class="kt-portlet__body" id="kt_filters">
                    <form class="kt-form kt-form--fit kt-margin-b-20" id="report_filters">
                        <div class="row kt-margin-b-20">
                            <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                                <label>Przedział czasowy:</label>
                                <div class="input-daterange input-group" id="kt_datepicker">
                                    <input type="text" class="form-control kt-input datepicker" name="from"
                                           placeholder="Od"
                                           data-col-index="5" required="required"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                    </div>
                                    <input type="text" class="form-control kt-input datepicker" name="to"
                                           placeholder="Do"
                                           data-col-index="5" required="required"/>
                                </div>
                            </div>
                        </div>

                        <div class="kt-separator kt-separator--md kt-separator--dashed"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-brand--icon" id="kt_generate">
						            <span>
						            	<i class="la la-gear"></i>
						            	<span>Generuj</span>
						            </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>

                    <div class="kt-portlet__body" id="report">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        $('.datepicker').datepicker({
            'format': 'dd-mm-yyyy'
        });
        $("#kt_generate").on('click', function (e) {
            e.preventDefault();

            KTApp.blockPage();
            $.ajax({
                method: 'POST',
                data: $("#report_filters").serialize(),
                url: '/report/summary-daily/create'
            }).always(function () {
                KTApp.unblockPage();
            }).done(function (response) {
                $('#report').html(response);
            });
        });
    </script>
{% endblock scripts %}
