<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th colspan="8" style="text-align: center">
            Podsumowanie dla okresu <strong>{{ range.from.format('d-m-Y') }} - {{ range.to.format('d-m-Y') }}</strong>
        </th>
    </tr>
    <tr>
        <th>LP</th>
        <th>Detal</th>
        <th colspan="2">Wyprodukowano</th>
        <th colspan="2">Załadowano</th>
        <th colspan="2">Bilans</th>
    </tr>
    </thead>
    <tbody>
    {% for place in summaryDaily.summaryPlaces %}
        {% if not place.isEmpty %}
            <tr>
                <td colspan="8" style="text-align: center">
                    <strong>{{ place.name }}</strong>
                </td>
            </tr>
            {% for detail in place.details %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ detail.name }}</td>
                    <td>{{ detail.made.quantity }}</td>
                    <td>{{ detail.made.quantityWithCorrection }}</td>
                    <td>{{ detail.charged.quantity }}</td>
                    <td>{{ detail.charged.quantityWithCorrection }}</td>
                    <td>{{ detail.balance.quantity }}</td>
                    <td>{{ detail.balance.quantityWithCorrection }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% for day in summaryDaily.days %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th colspan="8" style="text-align: center">
                <strong>{{ day.date.format('Y-m-d') }}</strong>
            </th>
        </tr>
        <tr>
            <th>LP</th>
            <th>Detal</th>
            <th colspan="2">Wyprodukowano</th>
            <th colspan="2">Załadowano</th>
            <th colspan="2">Bilans</th>
        </tr>
        </thead>
        <tbody>
        {% for place in day.places %}
            {% if not place.isEmpty %}
                <tr>
                    <td colspan="8" style="text-align: center">
                        <strong>Stanowisko: {{ place.name }}</strong>
                    </td>
                </tr>
                {% for detail in place.details %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ detail.name }}</td>
                        <td>{{ detail.made.quantity }}</td>
                        <td>{{ detail.made.quantityWithCorrection }}</td>
                        <td>{{ detail.charged.quantity }}</td>
                        <td>{{ detail.charged.quantityWithCorrection }}</td>
                        <td>{{ detail.balance.quantity }}</td>
                        <td>{{ detail.balance.quantityWithCorrection }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
